/*Main pages*/
body {
    font-size: 20px;
    margin: 0px;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    position: relative;
    height: 100vh;
}

.facts-about-me-wrapper{
    height: 100%;
}

/*Navbar styles*/
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 10px;
    height: 60px;
    z-index: 1;
    background-color:rgb(202, 189, 189);
    opacity: 0.95;
    

}

.leftofnav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlink a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.rightofnav {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.5rem;
    padding-right: 50px;
    font-weight: 700;
}

.rightofnav a{
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navlink {
    height: 20px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navlink a {
    color: rgb(145, 156, 167);
    text-decoration: none;
    transition: color 0.5s;
}

.navlink:hover {
    border-bottom: 1px solid black;
}

.navlink a:hover {
    color: lightcoral;
} 

/* about styles*/
.facts-about-me-wrapper {
    margin-top: 52px;
}

.facts {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* position: relative; */
}
  
.facts-img-background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
  
.img-and-text-wrapper {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 9%;
}

.img-and-text-wrapper img {
    max-width: 20%;
    margin: 5px;
}

.img-and-text-wrapper ul {
    list-style: none;
    padding: 0;
    transition: 1s;
    color: transparent;
    font-weight: 500;
}

#technical-languages {
    padding-top: 15px;
}

#current-education {
    padding-top: 22px;
}

.img-and-text-wrapper span {
    font-weight: 500;
    transition: 1s;
    color: transparent;
    padding: 5px;
    font-size: 0.9rem;
  }

  a{
      text-decoration: none;
  }

.img-and-text-wrapper h2 {
    font-weight: 700;
    color: #a1ff0a;
    text-shadow: 2px 2px #444242;
}


.fact {
    filter: brightness(87%);
    transition: filter 0.3s ease;
}

.fact:hover {
    filter: brightness(100%);
}

  
.img-and-text-wrapper:hover span {
    color:black;
    font-weight: 500;
    background-color: #deeaee;
    border-radius: 5px;
}

.img-and-text-wrapper:hover ul {
    color:black;
    font-weight: 500;
}

.underline-when-on-page {
    border-bottom: 1px solid black;
}

.underline-when-on-page a {
    color: black !important;
}

/*Abou page*/
.main-content-wrapper {
    margin-top: 52px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.professional-img-wrapper {
    box-sizing: border-box;
    padding-top: 0.5em;
    padding-left: 7em;
    padding-right: 6.2em;
    padding-bottom: 6em;
}

.professional-img-wrapper img {
    width: 100%;
    border-radius: 1000px;

}

.description-wrapper {
    padding-right: 15px; 
}

.description {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.social-media-wrapper {
    display: flex;
    margin-bottom: 10px;
}

.social-media-wrapper a {
    color: black
}

.social-media-wrapper img {
    width: 30px;
    height: 30px;
}

.linked-in,
.github,
.email{
    margin-right: 10px;
}

.about-me-background {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: auto;
    opacity: 0.45;
}

/*Projects Page*/
.projects-wrapper {
    margin-top: 52px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-grid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    height: 200px;
    font-size: 2.5rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: 500;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #bbe470
}

.specific-project {
    position: relative;
}

.project-img-background {
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.project-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: absolute;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;

}

.project-text-wrapper li {
    margin-bottom: 10px;
}
.project-text-wrapper ul {
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 10px;
    color: darkslategrey;
}

.project-text-wrapper h3 {
    border: 2px white solid;
    text-align: center;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

/*skills-interests*/
.skills-interests {
    margin-top: 52px;
}

.skill-interest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skill-interest-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-column: 1/-1;
    height: 200px;
    font-size: 2.5rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: 500;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: darkcyan;
}

.skillsinterests {
    display: flex;
    position: relative;
    justify-content: center;
}

.skillsinterests-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.skillsinterests-text-wrapper {
    color: white;
    position: absolute;
    bottom: 15px;
    align-self: flex-end;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
    
    /* Skills & interests*/
    .project-text-wrapper h3 {
        border: 2px white solid;
        text-align: center;
        border-radius: 20px;
        padding-left: 5px;
        padding-right: 5px;
        font-size:1rem;
    }

    .navlink {
        font-size: 0.5rem;
    }

    .rightofnav {
        font-size: 0.8rem;
    }

    .skill-interest-header {
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
        
    }

    .skill-interest {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 0.3rem;
    }

    .skillsinterests {
        border: 2px solid black;
    }

    .skillsinterests-text-wrapper {
        font-size: 0.7rem;
    }

    /* My Projects */
    .projects {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 0.1rem;
    }

    .specific-project {
        border: 2px solid black;
    }

    .projects-header {
        font-size: 1.2rem;

    }

    .project-text-wrapper ul{
        font-size: 0.6rem;
    }

    .project-text-wrapper h3 {
        margin-bottom: 8px;
        font-size: 0.8rem;
    }

    /* About page*/
    .grid-wrapper {
        width: 100%;
    }

    .projects-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        width: 100%;
    }

    .professional-img-wrapper {
        display: flex;
        padding: 0;
        justify-content: center;
    }

    .professional-img-wrapper img {
        width: 50%;
        height: 50%
    }

    .description-wrapper {
        text-align: center;
    }

    .description {
        font-size: 1.5rem;
        padding-left: 20px;
        padding-right: 20px;
    }
  
    .social-media-wrapper {
        justify-content: center;
    }

    /* Home Page */
    .facts {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }

    .fact{
        width:100vw;
        height:80vh;

            

    }

    .img-and-text-wrapper{
        display: flex;
        padding:0;
        align-items: center;
    }

    .img-and-text-wrapper span,
    .img-and-text-wrapper ul {
        width: 80%;
        color:black;
        text-align: center;
        font-weight: 500;
        background-color: #deeaee;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 280px) {
    .navlink {
        font-size: 0.35rem;
    }

    .rightofnav {
        font-size: 0.8rem;
    }

    .skill-interest-header {
        font-size: 2.5rem;
        
    }

    .skill-interest {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 0.3rem;
    }

    .skillsinterests {
        border: 2px solid black;
    }

    .skillsinterests-text-wrapper {
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 415px) and (max-width: 665px) {
    .project-text-wrapper ul{
        font-size: 0.6rem;
    }
}

@media only screen and (min-width: 415px) and (max-width: 600px) {
    .grid-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .professional-img-wrapper {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .professional-img-wrapper img {
        width: 80%;
    }

    .description-wrapper {
        padding-right: 30px;
        padding-left: 15px;
        text-align: center;
    }

    

    .navlink {
        font-size: 0.7rem;
    }

    .social-media-wrapper {
        justify-content: center;
    }
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
    .img-and-text-wrapper {
        font-size: 0.65rem;
    }

    .img-and-text-wrapper span {
        font-size: 0.6rem;
    }
}